header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.822);
  border-bottom: solid 1px rgba(255, 255, 255, 0.301);
  padding-bottom: 5px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 250px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding-left: 0;
  min-width: 100%;
  max-width: 600px;
  padding: 0 6%;
}

nav a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.329);
    padding: 0 4vw 0 20px;
  }

  nav {
    border-bottom: none;
    padding: 0;
    width: 40%;
    max-width: 500px;
    margin-top: 1vw;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }
}