header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.822);
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.301);
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding-left: 0;
  width: 100%;
  max-width: 600px;
  padding: 0 6%;
}

nav a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.329);
    padding: 0 50px 0 15px;
  }

  nav {
    align-self: flex-end;
    border-bottom: none;
    padding: 0;
    margin-bottom: 10px;
    width: 55%;
  }
  
  nav ul {
    justify-content: flex-end;
    margin: 0;
    min-width: 100%;
    padding: 0;
  }

  nav ul li {
    margin-left: 4vw;
  }
}