.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 110px);
  margin-top: 5%;
}

.login label {
  margin-top: 25px;
}

.login input {
  line-height: 2em;
  margin-top: 5px;
}

.login button {
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: purple;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

#error_login {
  color: red;
  padding: 0;
  margin: 0;
  height: fit-content;
  font-size: 14px;
}