.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 110px);
}

.register label {
  margin-top: 15px;
}

.register input {
  line-height: 2em;
  margin-top: 5px;
}

#error_username, #error_password, #error_repeat_password {
  color: red;
}

.register button {
  background-color: rgba(2, 214, 2, 0.842);
  outline: none;
  border: solid 1px rgba(0, 0, 0, 0.712);
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 5px 35px;
  font-weight: bold;
  color: white;
  min-width: fit-content;
  line-height: 2em;
}

.register button:hover {
  background-color: rgb(25, 231, 25);
}

.register button:active {
  transform: scale(0.95);
}

.error {
  color: red;
  padding: 0;
  margin: 0;
  height: fit-content;
  padding: 0 10%;
  font-size: 14px;
}