.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 110px);
}

.register label {
  margin-top: 15px;
}

.register input {
  line-height: 2em;
  margin-top: 5px;
}

.register button {
  margin-top: 50px;
  padding: 10px 30px;
  margin-bottom: 100px;
  background-color: rgba(2, 214, 2, 0.842);
}

#error_username, #error_password, #error_repeat_password {
  color: red;
}