.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 150px);
  margin-bottom: 50px;
}

.with-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  padding: 25px;
  padding: 0 5%;
  padding-bottom: 75px;
  margin: 5%;
  margin-bottom: 50px;
  border-radius: 3px;
}

.with-background p, .with-background label {
  text-align: center;
}

.with-background a {
  padding: 15px 35px;
  text-decoration: none;
  color: white;
  background-color: rgb(2, 158, 2);
  border: solid 1px rgb(0, 128, 0);
  border-radius: 15px;
  margin-top: 25px;  
}

@media only screen and (min-width: 1000px) {
  .with-background {
    margin-top: 45px;
  }
}