.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.with-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.884);
  border-radius: 2px;
  padding: 25px;
  padding: 0 5%;
  padding-bottom: 75px;
  margin: 5%;
  margin-bottom: 50px;
  border-radius: 5px;
}

.with-background p, .with-background label {
  text-align: center;
}

.with-background a {
  padding: 15px 35px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 184, 0);
  border: solid 1px rgb(0, 128, 0);
  border-radius: 15px;
  margin-top: 25px;
  font-weight: 500;
}

.welcome img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

@media only screen and (min-width: 1000px) {
  .with-background {
    margin-top: 45px;
  }
}