.list-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.list-edit input {
  line-height: 2em;
}

.list-edit label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}