.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 155px);
  margin-bottom: 100px;
  margin-top: 5%;
}

.list a {
  text-decoration: none;
  color: white;
}

.list h3 {
  margin: 25px 0;
}

.list h4 {
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.list-movies {
  display: flex;
  margin-bottom: 50px;
}

.list button:not(.remove-movie, button.add, .movie-list-options button, .scroll-left button, .scroll-right button) {
  background-color: rgba(2, 214, 2, 0.842);
  outline: none;
  border: solid 1px rgba(0, 0, 0, 0.712);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  line-height: 2em;
  margin-bottom: 15px;
  text-align: center;
  padding: 1px 35px;
  max-width: 500px;
  min-width: 150px;
}

.list button:hover {
  background-color: rgb(25, 231, 25);
}

.list button:active {
  transform: scale(0.95);
}

.list .movie-search {
  min-height: fit-content;
}

button.get-suggestions {
  border: solid rgba(255, 0, 0, 0.514);
}

.scroll-left, .scroll-right {
  width: 75px;
}


