.list-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-edit input {
  line-height: 2em;
  margin-bottom: 25px;
}

.list-edit label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.list-edit button {
  border: solid red;
}