.movie-search {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 235px);
  margin-top: 5%;
}

.movie-search form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.movie-search h3 {
  margin-bottom: 50px;
}

.movie-search input {
  line-height: 2.5em;
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  border: solid 2px rgb(61, 0, 61);
  padding-left: 15px;
  font-size: 15px;
  outline: none;
}

.list .movie-search .results {
  margin-top: 0;
}

.list .movie-search .movie {
  margin-bottom: 0;
}

.list .movie-search h3 {
  margin-top: 0;
}

.movie-search button {
  background-color: rgba(2, 214, 2, 0.842);
  outline: none;
  border: solid 1px rgba(0, 0, 0, 0.712);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  line-height: 2em;
  margin-top: 35px;
  padding: 1px 35px;
}

.movie-search button:hover {
  background-color: rgb(25, 231, 25);
}

.movie-search button:active {
  transform: scale(0.95);
}

.movie-search .results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  max-width: 400px;
  min-width: 100%;
}