* {
  box-sizing: border-box;
}

html, body, #root, main {
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
}

main > *:not(header, footer, .main-menu) {
  min-height: calc(100vh - 140px);
  height: fit-content;
  min-width: 100%;
}

h3 {
  font-size: 28px;
  text-align: center;
  margin: 8vmin 0 5vmin 0;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  h3 {
    font-size: 36px;
  }
}