header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

header h1 {
  margin: 0;
}

header a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.301);
  padding-bottom: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 3.3vh;
  margin: 0;
  padding-left: 0;
  width: 50%;
}

nav a {
  text-decoration: none;
  color: white;
}