.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 2px;
  margin: 10px;
  padding: 15px 5px 50px 5px;
  margin-bottom: 100px;
}

.welcome p, .welcome label {
  text-align: center;
}

.welcome a {
  padding: 15px 35px;
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 15px;
  margin-top: 25px;  
}